*{
    margin: 0;
    padding: 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.nav-container{

    max-width:1360px; 
    width: 83%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
}
.logo img {

    width: 139px; 
    height: 60px;
}

 .nav-center a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    margin-right:32px;
    text-align: center; 
}
.nav-center{
    margin-right: 180px;
    text-align: center;
}
.nav-btn{
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 500;
    line-height: 152%;
    
    
}
.btn{
    background-color: #30B860;
    color: #FFFFFF;
    padding: 16.5px 16px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}



#banner{
    background-size: 100%;
    background-image:url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content{
    max-width: 1360px;
    width: 83%;
    height: 379px;
    padding-top: 115px;
    padding-bottom: 180px;
    text-align: center;
    padding-left: 120px;
}
.transparent-btn{
    border:1px solid white;
    background-color: transparent;
    color: white;
     border-radius: 2px;
    padding: 16.5px 16px;
    border-radius: 4px;
    font-weight: 400;
    margin-left: 16px;
    font-size: 16px;
    cursor: pointer;

}
.btn:hover , .transparent-btn:hover{
    background: grey;
}
.transparent-btn i{
    margin-right: 5px;
    
}
.banner-title{
    background-color: white;
    border-radius: 1000px;
    color: #30B868;
    border: none;
    padding: 8px 12px 8px 12px;
}
.banner-content h1{
    font-size: 70px;
    font-weight: bold;
    color: white;
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 84px;
    text-align: center;
    text-transform: capitalize;
}
.green-txt{
    color:#30B868 ;
}
.banner-content .details{
    color: rgba(255, 255, 255, 1);
     font-size: 18px;
     font-weight: 400;
     line-height: 24px;
     letter-spacing: 0%;
     text-align: center;
     margin-bottom: 32px;
}
.btn i{
    margin-left: 10px;
    text-align: center;
}
.section-heading{
    max-width: 1360px;
    max-height: 116px;
    text-align: center;
}
.section-heading h1{
    color:#001931;
    font-style: Bold;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    margin-top:50px;
    margin-bottom: 16px;
    margin-left: 120px;
    text-transform: capitalize;
}
.section-heading p{
    color:#627382;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    margin-bottom: 44px;
    margin-left: 120px;
}
.card-container{
    max-width: 1360px;
    width: 83%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 120px;
    margin-bottom: 120px;
    gap:24px;

}
.card{
  width: 322px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
 box-shadow:0 6px 50px 0 #00000027 ;
  


}
.card h6{
 color: #001931;
 font-size: 24px;
 font-weight: 600;
 line-height: 29px;
 text-align: center;
 font-style: Semi Bold;
 letter-spacing: 0%;
 margin-top: 16px;
 margin-bottom: 16px;
  text-transform: capitalize;

}
.card p{
 color:#627382;
 font-size: 16px;
 font-weight: 400;
 line-height: 20px;
 letter-spacing: 0%;
 text-align: center;
}
.card img{
    width: 32px;
    height: 32px;
    background-color: #F95555;
    border-radius: 50%;
    padding: 14px;

}
#section3{
    max-width: 1360px;
    max-height: 600px;
    display: flex;
    align-items: center;
    gap: 60px;
    margin-left: 120px;
    margin-bottom: 120px;
}
#section3 .section3-content{
    max-width: 700px;
    max-height: 396px;
    margin-top: 102px;
    margin-bottom: 102px;
}
.section3-content .section3-heading{
   color:#30B868;
   font-size: 16px;
   font-weight: 500;
   line-height: 20px;
   letter-spacing: 0%;
   text-align: left;
   margin-bottom: 16px;

}
.section3-heading{
    text-transform: uppercase;
}
.section3-content h1{
    color:#001931;
    line-height: 58px;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
   letter-spacing: 0%;
   text-align: left;
   text-transform: capitalize;
   margin-bottom: 16px;

}
.section3-content .section3-txt{
     color:#627382;
     font-size: 16px;
     font-weight: 400;
     line-height: 20px;
     letter-spacing: 0%;
     text-align: left;
     margin-bottom: 40px;

}
.section3-content ul{
    list-style-type: none;
}
.section3-li h6{
  color: #001931;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}
.section3-li img{
    height:20px ;
    width:20px ;

}
.section3-li{
    display: flex;
    gap: 6px;
    text-align: center;
}
#section4{
    max-width: 1360px;
    max-height: 384px;
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 120px;
    background-color: rgba(247, 246, 242, 1);
    padding-top: 80px;
    padding-bottom: 80px;

}
.section4-title h1 {
    color:#001931;
    font-family: Inter;
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.section4-title p,.section4-body p {
    color:#627382;
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
.section4-body p{
    margin-top: 16px;
}
footer {
    max-width: 1600px;
    max-height: 348px;
    background-color: #001931;
    background-size: cover;

}
.logo-container{
    max-width: 1360px;
    max-height: 64px;
    display: flex;
    gap: 790px;
    align-items: center; 
    margin:0 120px 80px 120px;
    padding-top: 120px;
}
.social-link .social-icon{
    display: flex;
    color: #ffffff;
    gap: 16px;

}
.social-icon i {
    width: 20px;
    height: 20px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
}
.social-icon i:hover{
    background: gray;
}
.social-link p{
    color: #FFFFFF;
    font-family: Inter; 
    margin-bottom: 16px;
    font-size: 18px;
}
.logo img{
    width:139px;
    height:60px;
    margin-right:211px;
}
hr{
    border: 1px dotted #627382;
    margin-bottom: 30px;
}
.last-txt{
    padding: 0 120px 30px 120px;
    max-width: 1360px;
    border-top: #627382;
}
.last-txt p{
    color:#ffffff;
   
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
